<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.androidbootcamp.calcudose" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".DoseResults"
            android:label="@string/title_activity_dose_results" >
        </activity>
        <activity
            android:name=".LogBloodGlucose"
            android:label="@string/title_activity_view_log_blood_glucose" >
        </activity>
        <activity
            android:name=".LogFood"
            android:label="@string/title_activity_log_food" >
        </activity>
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name=".ViewLogs"
            android:label="@string/title_activity_view_logs" >
        </activity>
        <activity
            android:name=".AddFood"
            android:label="@string/title_activity_add_food" >
        </activity>
        <activity
            android:name=".LogFood2"
            android:label="@string/title_activity_log_food" >
        </activity>
        <activity
            android:name=".Servings"
            android:label="@string/title_activity_servings" >
        </activity>
        <activity
            android:name=".FoodDoseResult"
            android:label="@string/title_activity_dose_results" >
        </activity>
        <activity
            android:name=".FoodDataListActivity"
            android:label="@string/title_activity_food_list" >
        </activity>
        <activity
            android:name=".SearchFood"
            android:label="@string/title_activity_search_food" >
        </activity>
        <activity android:name=".MenuMenu"
            android:label="@string/title_activity_main_menu">
        </activity>
    </application>

</manifest>
