<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.androidbootcamp.calcudose">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainMenu"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GlucoseDoseResults"
            android:label="@string/title_activity_dose_results" />
        <activity
            android:name=".LogBloodGlucose"
            android:label="@string/title_activity_view_log_blood_glucose" />
        <activity
            android:name=".Settings"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".AddFood"
            android:label="@string/title_activity_add_food" />
        <activity
            android:name=".FoodDoseResult"
            android:label="@string/title_activity_dose_results" />
        <activity
            android:name=".FoodDataListActivity"
            android:label="@string/title_activity_food_list" />
        <activity
            android:name=".SearchFood"
            android:label="@string/title_activity_search_food" />
        <activity
            android:name=".SplashActivity"
            android:label="@string/title_activity_main_menu" />
        <activity
            android:name=".LogDataListActivity"
            android:label="@string/title_activity_logs" />
        <activity
            android:name=".MedicalId"
            android:label="@string/title_activity_medical_id" />
        <activity android:name=".ScannerActivity" />
        <activity
            android:name=".FoodDose"
            android:label="@string/title_activity_food_dose" />
        <activity
            android:name=".ListFoodDose"
            android:label="@string/title_activity_list_food_dose" />
        <activity
            android:name=".FoodListDoseResult"
            android:label="@string/title_activity_food_list_dose_result" />
    </application>

</manifest>
